* {
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.article__black {
  color: black;
}
.resaltado {
  color: #ff7212;
  font-size: 1.1875rem;
  font-weight: 500;
}
.resaltado__black {
  color: #000;
  font-weight: 500;
  font-size: 1.1875rem;
}

.video {
  width: 100%;
}
/*=====  End of Section comment block  ======*/

/*=============================================
	=            Section comment block            =
=============================================*/
.section0__bg {
  background: url(Image/Header_bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #382817;
}
.container0 {
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.img__logo--0 {
  width: 20%;
}
.section0__h1 {
  color: white;

  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.section0__h2 {
  color: #ff7212;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.linea {
  border: 0;
  border-top: 2px solid #ff7212;
  border-bottom: 1px solid #333;
  height: 0;
  width: 50%;
  opacity: 0.5;
  margin: auto;
}
.section0__video {
  position: relative;
  height: 0px;
  width: 100%;
  padding-bottom: 56.25%;
  /*56.25%*/
}

.video__youtube {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 75%;
  height: 75%;
}
@media screen and (max-width: 768px) {
  .container0 {
    padding: 0 5%;
  }
  .img__logo--0 {
    width: 35%;
  }
  .section0__h1 {
    font-size: 1.2rem;
  }
  .section0__h2 {
    font-size: 1.2rem;
  }
  .resaltado {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .container0 {
    padding: 0 5%;
  }
  .img__logo--0 {
    width: 35%;
  }
  .section0__h1 {
    font-size: 1rem;
  }
  .section0__h2 {
    font-size: 1rem;
  }
  .resaltado {
    font-size: 1rem;
  }
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.section1__bg {
  background: url(Image/section_1_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #181009;
  margin: auto;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 1.25rem;
  padding: 3.125rem;
  align-items: center;
  grid-template-areas:
    "section1__img--primer-paso section1__img--pareja"
    "section1__article section1__img--pareja";
}

.section1__img--primer-paso {
  grid-area: section1__img--primer-paso;
  max-width: 25rem;
  min-width: 20rem;
  justify-self: end;
  align-self: end;
}
.section1__article {
  grid-area: section1__article;
  font-size: 1.2rem;
  width: 22.18rem;
  justify-self: end;
  align-self: center;
}
.section1__img--pareja {
  grid-area: section1__img--pareja;
  display: flex;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-content: center;
}
.img__pareja {
  width: 90%;
}
/*MEDIA QUERIES -- SECTION1*/

@media screen and (max-width: 768px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1.25rem 1.25rem;
    grid-template-areas:
      "section1__img--primer-paso"
      "section1__article"
      "section1__img--pareja";
  }
  .section1__img--primer-paso {
    grid-area: section1__img--primer-paso;
    justify-self: center;
    align-self: end;
  }
  .section1__img--pareja {
    grid-area: section1__img--pareja;
    grid-row-start: 3;
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  .section1__article {
    grid-area: section1__article;
    justify-self: center;
    align-self: center;
    width: 100%;
  }
}
/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.section2__bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(Image/section_2_bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f3f1ef;
  width: auto;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 20px;
  padding: 3.125rem;
  grid-template-areas:
    "section2__img--mockup1 section2__img--logo2"
    "section2__img--mockup1 section2__article";
  align-items: center;
}

.section2__img--logo2 {
  grid-area: section2__img--logo2;

  align-self: end;
  justify-self: start;
}
.img__logo2 {
  max-width: 15rem;
  min-width: 5rem;
}

.section2__article {
  grid-area: section2__article;
  font-size: 1.375rem;
  max-width: 25rem;
  min-width: 16rem;
  align-self: center;
  justify-self: start;
}
.section2__img--mockup1 {
  grid-area: section2__img--mockup1;
  max-width: 34rem;
  min-width: 20rem;
  align-self: center;
  justify-self: end;
}

/*MEDIA QUERIES -- SECTION2*/
@media screen and (max-width: 768px) {
  .container2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1.25rem 1.25rem;
    grid-template-areas:
      "section2__img--logo2"
      "section2__article"
      "section2__img--mockup1";
  }
  .section2__img--logo2 {
    grid-area: section2__img--logo2;
    align-self: end;
    justify-self: center;
  }
  .section2__article {
    grid-area: section2__article;
    font-size: 1.375rem;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    min-width: 0;
  }
  .section2__img--mockup1 {
    grid-area: section2__img--mockup1;
    max-width: 34rem;
    min-width: 20rem;
    align-self: start;
    justify-self: center;
  }
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.section3__bg {
  background-color: #000;
  width: auto;
}
.section3__h3 {
  text-align: center;
  font-weight: 500;
  font-size: 2.625rem;
}
.section3__h3--2,
.section3__h3--3 {
  text-align: center;
  font-weight: 500;
  font-size: 2.625rem;
  color: #ff7212;
}
.container3 {
  display: grid;
  grid-template-rows: repeat (9, 1fr);
  grid-gap: 20px;
  padding: 3.125rem;
  grid-template-areas:
    "section3__h3--1"
    "section3__img--ABC"
    "section3__titulo2"
    "section3__img--123"
    "section3__h3--2"
    "section3__img--titulares"
    "section3__h3--3"
    "section3__img--famosos"
    "section3__button";
  align-items: center;
  justify-items: center;
}
.section3__h3--1 {
  grid-area: section3__h3--1;
}
.section3__img--ABC {
  grid-area: section3__img--ABC;
}
.section3__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.img__ABC-123 {
  max-width: 20%;
  min-width: 12.5rem;
}
.section3__titulo2 {
  grid-area: section3__titulo2;
  width: 50%;
  margin: 3.13rem;
}
.section3__img--123 {
  grid-area: section3__img--123;
}
.section3__h3--2 {
  grid-area: section3__h3--2;
  font-size: 2rem;
  width: 90%;
}
.section3__img--titulares {
  grid-area: section3__img--titulares;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section3__h3--3 {
  grid-area: section3__h3--3;
  font-size: 2.5rem;
}
.section3__img--famosos {
  grid-area: section3__img--famosos;
}
.section3__button {
  grid-area: section3__button;
  transition-duration: 0.4s;
  background-color: #4caf50;
  font-size: 1.81rem;
  font-weight: 500;
  max-width: 678px;
  min-width: 300px;
  border-radius: 7px;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.section3__button:hover {
  color: #a8f88f;
}

/*MEDIA QUERIES -- SECTION 3*/

@media screen and (max-width: 768px) {
  .img__ABC-123 {
    max-width: 60%;
    min-width: none;
  }
  .section3__titulo2 {
    grid-area: section3__titulo2;
    width: 80%;
    margin: 3.13rem;
  }
  .section3__h3--1 {
    grid-area: section3__h3--1;
    font-size: 2rem;
    width: 90%;
  }
  .section3__h3--2 {
    grid-area: section3__h3--2;
    font-size: 1.5rem;
    width: 90%;
  }
  .section3__h3--3 {
    grid-area: section3__h3--3;
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .img__ABC-123 {
    max-width: 100%;
    min-width: none;
  }
}
/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.section4__bg {
  background: url(Image/section_4_bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f3f1ef;
  width: auto;
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  row-gap: 30px;
  padding: 10%;
}
.section4__h3 {
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 500;
  margin-top: 15%;
  color: #ff7212;
}

.section4__article {
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
}
/*MEDIA QUERIES -- SECTION 4*/

@media screen and (max-width: 768px) {
  .section4__h3 {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
  }

  .section4__article {
    font-size: 1.5rem;
    width: 100%;
  }
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

.section5__bg {
  background-color: #000;
}
.container5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 2rem;
  justify-content: center;
  align-items: baseline;
  padding: 5% 10%;
}
.section5__h3 {
  font-size: 250%;
  font-weight: 500;
  text-align: center;
  color: white;
  width: 100%;
}
.section5__article {
  font-size: 1rem;
  font-weight: 500;
}
.parts {
  width: 250px;
}
.section5__part2 {
  /* flex-grow: 0.42; */
  min-width: 350px;
}
.section5__part5 {
  /* flex-grow: 0.42; */
  min-width: 350px;
}

/*MEDIA QUERIES -- SECTION5*/

@media screen and (max-width: 400px) {
  .section5__h3 {
    font-size: 170%;
    line-height: 2rem;
  }
  .section5__part2 {
    min-width: 300px;
  }
  .section5__part5 {
    min-width: 300px;
  }
  .container5 {
    padding: 5%;
  }
}
/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/
.section6__bg {
  background-color: #ff7212;
}
.container6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.Section6__img {
  width: 15%;
  min-width: 120px;
  margin: auto;
}
.section6__h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}

/*MEDIA QUERIES -- SECTION 6*/

@media screen and (max-width: 768px) {
  .section6__h3 {
    font-size: 1.5rem;
  }
}

/*<!--====  End of Section comment  ====-->

<!--=====================================
=            Section comment            =
======================================-->*/

.container7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 2rem;
  justify-content: center;
  align-items: baseline;
  padding: 5%;
}
.section7__h3 {
  color: #ff7212;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  background-color: #000;
}
.resatado {
  color: black;
  font-weight: 500;
}
.section7 {
  width: 290px;
  /* max-width: 30%;
  min-width: 200px; */
}
.section7__article2 {
  align-self: start;
}
.section7__article {
  color: black;
  font-size: 1.1rem;
}

/*MEDIA QUERIES -- SECTION 7*/

@media screen and (max-width: 400px) {
  .section7 {
    width: 100%;
  }
}

/*<!--====  End of Section comment  ====-->

<!--=====================================
    =            Section comment            =
 ======================================-->*/

.section8__bg {
  background: url(Image/section_2_bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f3f1ef;
  width: auto;
}
.container8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}
.section8__img {
  width: 350px;
  margin-top: -5%;
}
.section8__h3 {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 60%;
}
.section8__article {
  color: black;
  font-size: 1.2rem;
  max-width: 60%;
}
/*MEDIA QUERIES -- SECTION 8*/

@media screen and (max-width: 768px) {
  .section8__article {
    max-width: 90%;
  }
  .section8__h3 {
    max-width: 90%;
  }
}

/*<!--====  End of Section comment  ====-->

<!--=====================================
=            Section comment            =
======================================-->*/

.section9__bg {
  background: rgb(47, 47, 47);
  background: linear-gradient(
    180deg,
    rgba(47, 47, 47, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.container9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container9__video {
  width: 70%;
}
.section9__h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.section9__video {
  position: relative;
  height: 0px;
  width: 100%;
  padding-bottom: 56.25%;
  /*56.25%*/
}

.video__Eray {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 75%;
  height: 75%;
}
.section9__img {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
}
.img__print1 {
  width: 30%;
  min-width: 300px;
}
.img__print2 {
  width: 30%;
  min-width: 300px;
}
/*MEDIA QUERIES -- SECTION 9*/

@media screen and (max-width: 768px) {
  .section9__h3 {
    font-size: 200%;
  }

  .container9__video {
    width: 125%;
  }
  .img__print1 {
    width: 80%;
  }
  .img__print2 {
    width: 80%;
  }
}

/*<!--====  End of Section comment  ====-->

<!--=====================================
=            Section comment            =
======================================-->*/

.section10__bg {
  background-image: url(Image/section_1_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #181009;
  margin: auto;
  padding: 2%;
}

.container10 {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 650px;
  margin: auto;
  border: solid;
  border-color: #ff7212;
  border-width: 7px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  /*FLEX*/

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.section10__log {
  width: 50%;
  max-width: 200px;
}
.section10__lista {
  width: 90%;
}
.lista {
  list-style: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}
.section10__precio {
  max-width: 60%;
  min-width: 290px;
}
.section10__subline {
  text-align: center;
  font-weight: 500;
  max-width: 90%;
  margin-bottom: 20px;
}

/*<!--====  End of Section comment  ====-->

<!--=====================================
=            Section comment            =
======================================-->*/

.section11__bg {
  background-color: #000;
}
.container11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 50px;
}
.section11__h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.section11__article {
  font-weight: 500;
  text-align: center;
  max-width: 80%;

  min-width: 360px;
}
